.btn {
  background-image: linear-gradient(
    to right,
    #5ecd5ad1 0%,
    #11622fcb 51%,
    #5562dcd8 100%
  );
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  transition: 0.5s;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
  margin: 0 auto;
  font-family: "Courier New", monospace;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn:hover,
.btn:focus {
  background-position: right center;
  color: black;
  text-decoration: none;
}
